.photo-grid__item_num_10{
  background-size: cover;
  width: 100%;
  object-fit: contain;
  height: 213px;
  margin: 0;
  background-image: url(../../../../images/photo-grid-kamchatka-2.jpg);
}

@media screen and (max-width: 1140px) {
  .photo-grid__item_num_10{
    height: 225px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid__item_num_10{
    height: 264px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid__item_num_10{
    height: 216px;
  }
}